@import url("https://fonts.googleapis.com/css2?family=Bentham&family=Fredoka:wght@300..700&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Lexend", serif;
}

/* body {
  background-color: aliceblue;
} */

.fredoka-regular {
  font-family: "Fredoka", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.fredoka-semibold {
  font-family: "Fredoka", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.fredoka-bold {
  font-family: "Fredoka", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.montserrat-regular {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.montserrat-semibold {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.lexend-regular {
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.lexend-semibold {
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lexend-bold {
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.bentham-regular {
  font-family: "Bentham", serif;
  font-weight: 400;
  font-style: normal;
}
.outfit-semibold {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

.active{
  background-color: #90CAF9;
  border-color: rgb(197, 197, 197);
  
}